[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pgbackup = {editable = true, path = "."}
pytest = "*"
"boto3" = "*"

[dev-packages]
pytest-mock = "*"
pytest = "*"

[requires]
python_version = "3.6"
